/* Creates variables that I will use for colors throughout the CSS */
html {
    --purple: #3d2e42;
    --spaceblue: #33393f;
    --lightpurple: #a77bb6;
    /* Sets font size to 62.5% so rem can be used more easily */
    font-size: 62.5%;
}

/* Makes highlighting a new color */
::selection {
    background-color: aquamarine;
}

/* Sets the font for the body */
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Styles header */
header {
    color: var(--spaceblue);
    background-color: var(--spaceblue);
}

/* Styles the Main h1 'Portfolio.JS (It's a pun, because my initial are JS and .js is a file extension) */
header h1 {
    font-size: 5rem;
    color: var(--spaceblue);
    background: var(--lightpurple);
    max-width: fit-content;
    padding-right: 3rem;
}

.nav {
    font-size: 2rem;
    justify-content: flex-end;
}

/* styles the nav links */
.nav-link {
    padding-bottom: 2rem;
    color: var(--lightpurple);
}

/* Adds hover to the links */
.nav-link:hover {
    color: #e0a8f3;
}

/* Creates a hero image for the header, alt attributes are in HTML */
.hero {
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.5)), 
    url("./images/desktopstock.jpg");

    height: 20rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  /* Styles Subtitle for hero image */
  .hero-text h3 {
    text-align: right;
    position: relative;
    bottom: 4.5rem;
    padding-right: 1rem;
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-style: italic;
  }

/* This section puts flex on the parent */
#AboutMe {
    padding-left: 5rem;
    display: flex;
    flex-wrap: wrap;
}
/* Uses a variable to style the bio and sets the max width to center it */
#AboutMe .bio{
    font-size: 2rem;
    color: var(--purple);
    max-width: 65%;
}

h2 {
    color: var(--purple);
    font-size: 4rem;
    padding-right: 10rem;
    text-align: right;
}

/* Puts flex on and adds a margin */
#Work{
    padding-top: 5rem;
    padding-left: 5rem;
    display: flex;
    flex-wrap: wrap; 
}

/* Puts flex on the portfolio cards and adds padding to center them */
#Work .portfolio {
    padding-left: 10rem;
    padding-right: 10rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 75%;
}

/* Creates card that are distributed with flex box to be used to display my work */
.card {
    height: 20rem;
    width: 40rem;
    margin: .5rem;
    flex-grow: 1;
    background-color: var(--purple);
    border: solid;
    border-color: var(--lightpurple);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  /* Uses nth-child to make the first child larger than the rest, sets the background image as well, 
  alt attributes are in the HTML */
  .card:nth-child(1) {
    width: 81rem;
    background-image: 
    linear-gradient(rgba(193, 172, 248, 0.5), 
    rgba(85, 78, 99, 0.5)),
    url("./images/backlit-keyboard-stock.jpg");
  }

  /* Sets the background image, alt attributes are in the HTML */
  .card:nth-child(2) {
    background-image: 
    linear-gradient(rgba(193, 172, 248, 0.5), 
    rgba(85, 78, 99, 0.5)),
    url("./images/computer-stock.jpg");
  }

  /* Sets the background image, alt attributes are in the HTML */
  .card:nth-child(3) {
    background-image: 
    linear-gradient(rgba(193, 172, 248, 0.5), 
    rgba(85, 78, 99, 0.5)),
    url("./images/stock-coding-abstract.jpg");
  }

  /* Sets the background image, alt attributes are in the HTML */
  .card:nth-child(4) {
    background-image: 
    linear-gradient(rgba(193, 172, 248, 0.5), 
    rgba(85, 78, 99, 0.5)),
    url("./images/stock-coding.jpg");
  }

  /* Sets the background image, alt attributes are in the HTML */
  .card:nth-child(5) {
    background-image: 
    linear-gradient(rgba(193, 172, 248, 0.5), 
    rgba(85, 78, 99, 0.5)),
    url("./images/digital-laptop-art.jpg");
  }
  
  /* Adds a link on top of the image that will redirect to a new page, some are placeholders */
   h4.portfoliolink {
    position: relative;
    font-size: 3rem;
    max-width: fit-content;
    color: var(--lightpurple);
    background-color: var(--spaceblue);
    border-bottom: solid var(--lightpurple);
    border-right: solid var(--lightpurple);
    padding: 1rem;
  }

  /* Adds hover effect to image title links */
  h4.portfoliolink:hover {
    color: #e0a8f3;
}

/* Adds flex to parent */
  #ContactMe {
    padding-left: 5rem;
    padding-top: 5rem;
    display: flex;
    flex-wrap: wrap;
  }

  /* Styles contact info */
  #ContactMe .info {
    color: var(--lightpurple);
    padding-top: 1.5rem;
    padding-left: 28%;
    font-size: 2rem;
  }
  
  /* When the screen size drops below 992px, paddings are removed to display content along the border of the screen */
  @media screen and (max-width: 992px) { 
    #AboutMe, #Work, #ContactMe {
      padding-left: 0rem;
      padding-right: 0rem;
    }

    #Work .portfolio, #ContactMe .info {
      padding-left: 0rem;
      padding-right: 0rem;
    }
/* Moves hero caption to opposite side for better readability */
    .hero-text h3 {
      text-align: left;
    }
  }